.global-im-badge {
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  z-index: 4;
}
.chat-main {
  background-color: #303133!important;
}

.im-user-box {
  position: relative;
  .user-image {
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    margin-left: 5px;
  }
  .text-box {
    padding-left: 5px;
    height: 45px;
    line-height: 22px;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: 5px;
  }
}

.im-user-list-li {
  .im-user-box {
    padding-left: 25px;
  }
}

/**
 * chats
 */
.chatting-roster-content {
  height: 800px; 
  text-align: left;
  background-color:#2e3238
}
.chatting-roster-group-list {
  .title {
    background-color: #fff;
  }
  ul {
    margin: 0px 0px 10px 5px;
    padding: 0px;
    list-style-type: none;
    text-align: left;
    overflow-y: auto;
    height: 800px;
    li {
      i {
        font-size: 25px;
        color: #fff; 
      }
      padding: 12px 10px;
      a:link{
        color: #fff;
      }
      aï¼šhover{
        color:#000;
      }
    }
  }
}

.friend-list {
  border: 1px solid #fff;
  .row {
    width: 16.667%;
    min-width: 200px;
    height: 100%;
  }
  .el-card {
    border: none;
  }
}
.friend-item {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid #292c33;
  cursor: pointer;
  padding: 4px 15px;
  .item {
    margin: 5px 10px;
    font-size: 16px;
    font-weight:bold;
    color: #FFF;
  }
  .msg {
    margin-left: 30px;
    font-size:8px;
    width: 150px;
    height: 16px;
    color: #909399;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
  .friend-name {
    display: flex;
    align-items: center;
  }
}
.chatting-main {
  height: 800px;
  background-color: #fff;

  .chatting-show {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
  }
  .chatting-input {
    
    .el-textarea {
      height: 100%;
      textarea {
        height: 75px;
        width: 100%;
      }
    }
    .left {
      text-align: right;
      margin-right:10px; 
    }
  }
}

.chatting-title {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #d6d6d6;
  background-color: #eee;
  height: 50px;
}
.chatting-content {
  height: 600px;
  background-color: #fff;
  flex: 1;
  width: 100%;
  overflow: hidden;
  .el-scrollbar__wrap {
    margin-right:30px;
  }
  el-scrollbar__bar is-horizontal {
    height:0px;
  }
  .chatting-item {
    padding: 10px;
    width: 100%;
    .msg-date {
      text-align: center;
      color: gray;
      font-size: 80%;
    }
    .msg-from {
      display: flex;
      align-items: center;
      margin-right: 18px;
      span.loc {
        color: gray;
        font-size: 60%;
        margin-right: 5px;
      }
      .msg-author {
        color: gray;
        font-size: 1rem;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
    }
    .msg-content {
      margin-top: 5px;
      background-color: #b2e281;
      min-width: 300px;
      max-width: 1000px;
      padding: 10px 10px;
      border-radius: 5px;
      text-align: left;
    }
  }
  .chatting-bg {
    background-color:#fff;
  }
  .chatting-item + .chatting-item {
    margin-top: 10px;
  }
  .in {
    // .msg-from {
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: center;
    //   img {
    //     margin-left: 10px;
    //   }
    // }

    // .msg-content {
    //   float: right;
    //   word-wrap: break-word;
    //   word-break: break-all;
    //   margin-right: 10px;
    // }
  }
  .out {
    .msg-from {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        margin-left: 10px;
      }
    }

    .msg-content {
      float: right;
      word-wrap: break-word;
      word-break: break-all;
      margin-right: 10px;
    }
  }

  .on {
    .msg-from {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span.loc {
        color: gray;
        font-size: 60%;
        margin-right: 5px;
      }
      img {
        margin-right: 10px;
      }
    }

    .msg-content {
      float: left;
      margin-left: 10px;
      word-wrap: break-word;
      word-break: break-all;
    }

  }

  .online {
    width: 200px;
    // max-width: 100%;
    margin: 3px auto;
    border-radius: 4px;
    text-align: center;
    background-color: #FFFDE7;
  }
}

.chatting-btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  margin-bottom: 0;
  cursor: pointer;
  > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
  }
}
